<div class="container">
  <h1>Edit Profile</h1>
<div class="card-panel">
  <%= render 'form' %>
</div>
  <%= link_to 'Show', @user, class: "btn-submit waves-effect waves-light btn" %>
  <%= link_to 'Back', :back, class: "btn-submit waves-effect waves-light btn" %>
</div>
