<div class="container">
<h1> Our Global Community </h1>
<!-- <a href="/listings"> Click for cities </a> -->
<div class="divider cities-page-line"></div>
<body>

    <div class="row">

      <h2> Sweden </h2>

      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/8LXz1o8.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Malmö<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Scania, Sweden</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Malmö<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/pdMPpQH.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Uppsala<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Uppland, Sweden</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Uppsala<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/c36d38E.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Västerås<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Västmanland, Sweden</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Västerås<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/alVMxTz.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Stockholm<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Södermanland and Uppland, Sweden</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Stockholm<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/5qleYVe.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Gothenburg<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Västergötland and Bohuslän, Sweden</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Gothenburg<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <h2> The Netherlands </h2>

      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/5ZcGO67.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Amsterdam<i class="material-icons right">more_vert</i></span>
           <p><a href="#">North Holland, Netherlands</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Amsterdam<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>


      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/MyBghEh.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Rotterdam<i class="material-icons right">more_vert</i></span>
           <p><a href="#">South Holland, Netherlands</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Rotterdam<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>


      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/HMk0lk5.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">The Hague<i class="material-icons right">more_vert</i></span>
           <p><a href="#">South Holland, Netherlands</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">The Hague<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>



      <h2> Germany </h2>

      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/5WgldWp.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Berlin<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Germany</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Berlin<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>


      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/PEqPMtM.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Hamburg<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Germany</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Hamburg<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/tOh0t8F.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Frankfurt<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Hesse, Germany</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Frankfurt<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/lu6WfZN.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Munich<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Bavaria, Germany</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Munich<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/7AmwIYZ.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Cologne<i class="material-icons right">more_vert</i></span>
           <p><a href="#">North Rhine-Westphalia, Germany</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4" id="card-reveal-title">COLOGNE<i class="material-icons right">close</i></span>
           <br/>
           <p> Host Families: 17 </p>
           <br/>
           <ul>
             <li><a href="http://www.cologne.de/">City website</a></li>
             <br/>
             <li><a href="http://www.unhcr.de/"> UNHCR Germany</a></li>
             <li></li>
           </ul>

         </div>
       </div>
      </div>

      <h2> Austria </h2>
      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/j2tsNul.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Vienna<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Vienna, Austria</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Vienna<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>


      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/x6E4rXR.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Salzburg<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Salzburg, Austria</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Salzburg<i class="material-icons right">close</i></span>
           <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" id="cities-card">
           <img class="activator" src="http://i.imgur.com/us89VNn.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Graz<i class="material-icons right">more_vert</i></span>
           <p><a href="#">Styria, Austria</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Graz<i class="material-icons right">close</i></span>
          <p>Available Properties: </p>
         </div>
       </div>
      </div>

      <h2> France </h2>

      <div class="col s12 m6 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/Qcmhp2U.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Lyon<i class="material-icons right">more_vert</i></span>
             <p><a href="#">Auvergne-Rhône-Alpes, France</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Lyon<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/s2IuCmN.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Marseille<i class="material-icons right">more_vert</i></span>
             <p><a href="#">Provence-Alpes-Côte d'Azur, France</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Marseille<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/NTLXrDI.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Toulouse<i class="material-icons right">more_vert</i></span>
             <p><a href="#">Languedoc-Roussillon-Midi-Pyrénées, France</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Toulouse<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>

        <h2> United Kingdom </h2>

        <div class="col s12 m6 l6">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/0KpVhUB.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Glasgow<i class="material-icons right">more_vert</i></span>
             <p><a href="#">Scotland, United Kingdom</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Glasow<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/xLrlT3A.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Liverpool<i class="material-icons right">more_vert</i></span>
             <p><a href="#">England, United Kingdom</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Liverpool<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/YudxlDX.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Birmingham<i class="material-icons right">more_vert</i></span>
             <p><a href="#">England, United Kingdom</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Birmingham<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/JGUkVGI.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Cardiff<i class="material-icons right">more_vert</i></span>
             <p><a href="#">England, United Kingdom</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Cardiff<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>

        <h2> Canada </h2>

        <div class="col s12 m6 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/StcF8Et.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Vancouver<i class="material-icons right">more_vert</i></span>
             <p><a href="#">British Columbia, Canada</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Vancouver<i class="material-icons right">close</i></span>
             <p>Available Properties: 27</p>
             <a href="http://vancouver.ca/">Vancouver's Website</a>
           </div>
         </div>
        </div>


        <div class="col s12 m6 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/CuOQlZE.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Ottawa<i class="material-icons right">more_vert</i></span>
             <p><a href="#">Ontario, Canada</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Ottawa<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light" id="cities-card">
             <img class="activator" src="http://i.imgur.com/rm9GjU4.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Toronto</a><i class="material-icons right">more_vert</i></span>
             <p><a href="/listings">Ontario, Canada</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Toronto<i class="material-icons right">close</i></span>
             <p>Available Properties: </p>
           </div>
         </div>
        </div>




  </div>
</body>
