<h1> Our Community </h1>
<!-- <a href="/listings"> Click for cities </a> -->

<body>
  <!-- <div class="container"> -->
    <div class="row">

      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/StcF8Et.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Vancouver<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Vancouver<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/CuOQlZE.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Ottawa<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Ottawa<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/rm9GjU4.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Toronto<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Toronto<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/alVMxTz.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Stockholm<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Stockholm<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/5qleYVe.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Gothenburg<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Gothenburg<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/8LXz1o8.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Malmö<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Malmö<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/pdMPpQH.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Uppsala<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Uppsala<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>

      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/c36d38E.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Västerås<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Västerås<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/G0yXwX6.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Copenhagen<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Copenhagen<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/5ZcGO67.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Amsterdam<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Amsterdam<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/MyBghEh.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Rotterdam<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Rotterdam<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/HMk0lk5.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">The Hague<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">The Hague<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/0KpVhUB.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Glasgow<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Glasow<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/xLrlT3A.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Liverpool<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Liverpool<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>

      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/YudxlDX.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Birmingham<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Birmingham<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/JGUkVGI.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Cardiff<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Cardiff<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/5WgldWp.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Berlin<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Berlin<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/PEqPMtM.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Hamburg<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Hamburg<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/lu6WfZN.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Munich<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Munich<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/7AmwIYZ.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Cologne<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Cologne<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/j2tsNul.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Vienna<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Vienna<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>


      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/x6E4rXR.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Salzburg<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Salzburg<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>

      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/us89VNn.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Graz<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Graz<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>

      <div class="col s12 m7 l4">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="http://i.imgur.com/hgUSOBh.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Paris<i class="material-icons right">more_vert</i></span>
           <p><a href="#">This is a link</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Paris<i class="material-icons right">close</i></span>
           <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
       </div>
      </div>

      <div class="col s12 m7 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="http://i.imgur.com/Qcmhp2U.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Lyon<i class="material-icons right">more_vert</i></span>
             <p><a href="#">This is a link</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Lyon<i class="material-icons right">close</i></span>
             <p>Here is some more information about this product that is only revealed once clicked on.</p>
           </div>
         </div>
        </div>

        <div class="col s12 m7 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="http://i.imgur.com/s2IuCmN.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Marseille<i class="material-icons right">more_vert</i></span>
             <p><a href="#">This is a link</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Marseille<i class="material-icons right">close</i></span>
             <p>Here is some more information about this product that is only revealed once clicked on.</p>
           </div>
         </div>
        </div>

        <div class="col s12 m7 l4">
          <div class="card">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="http://i.imgur.com/NTLXrDI.png">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Toulouse<i class="material-icons right">more_vert</i></span>
             <p><a href="#">This is a link</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Toulouse<i class="material-icons right">close</i></span>
             <p>Here is some more information about this product that is only revealed once clicked on.</p>
           </div>
         </div>
        </div>




  <!-- </div> -->
</body>
