h1 {
  text-align: center;
  font-family: Ruda;
}

h2 {
  text-align: center;
}

a href {
  font-color: black;
}

card-title a {
  font-color:black;
}

#card-reveal-title {
  font-size: 1.5em;
  font-family: Frijole;
}

.cities-page-line {
  background-color: #424242;
}

.card-reveal {
  font-size: 1.5em;
}
