.carousel-item {
  width: 50% !important;
  height: 100% !important;
}

.carousel {
  margin: 5em auto;
}

h3 {
  margin: auto;
}

#map {
  margin: 1em auto;
  height: 300px;
  width: 100%;
  position: fixed;
  order: 0;
}
