html {
    font-family: Ruda;
    background-color: #e1f5fe;
  }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  font-family: Ruda;

}

nav {
  background-color: #0288d1;

}

.brand-logo {
  font-family: Frijole;
  color: #3f51b5;
}
