body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // background-image: url("http://i.imgur.com/RJfC5e8.jpg");
  // background-repeat: no-repeat;
  // background: cover;
  // background-position: center;
}
main {
  flex: 1 0 auto;
}
.nav-wrapper {
  font-family: Ruda;
  background-color: #ffffff;

}
